*{  box-sizing: border-box; }

body  { 
  padding:0px;
  margin:0px;
  font-family: "Inter", sans-serif; 
  background-color:rgb(223, 223, 223);
}
  


h1  {    font-size: 50px; position: flex; }

h4  {    font-size: 30px;  }

  header{
     position: sticky;
     background-color: rgb(255 255 255 / 10%);
     overflow-x: hidden;
     backdrop-filter: blur(10px);
     display: flex; 
     top:0px;
     left:0px;
     width:100%;
     height:100%;
     box-shadow: 0 0 10px 2px black;
     align-items:center ;
     justify-content:space-between;
     padding: 20px;
     padding-right: 120px;
     z-index: 100;
    
     
    }

     header nav  {display: block; }

    header nav ul {
      list-style: none;
      display: flex;
      gap:20px;
      align-items: center; }
    
    #nazwa{color:rgb(123, 123, 208)}

    header nav ul a{
      text-decoration: none;
      color:black;
    }

    .aktywny{color:rgb(125, 207, 49);
    font-size: 24px;}


    main article{
      position: relative;
      display:flex; 
      flex-direction:row;
      align-items:center;
      justify-content: inter-word;
      padding-left: 150px;
      padding-right: 120px;
      gap:20px;
    }

    .article-element{
      width:50%;
    }
    #sub{
      align-items:center;
      text-align: center;
      width:100%;
    }
    footer{
      text-align: center;
      background-color:rgb(192, 192, 192);
      margin:20px;
    }

    main section
    {
      position: relative;
      display:flex; 
      flex-direction:row;
      align-items:center;
      justify-content: inter-word;
      font-size: 20px;
      padding-top: 80px;
      padding-bottom: 120px;
      padding-left: 120px;
      width:100%;
    }

    #myspan{color:rgb(66, 175, 139);}

    /* u{ */
       /* text-decoration: underline; */
       /* text-decoration-thickness: 6px; */
       /* text-decoration-color:green; */
      /* } */

  main article::before{

    content:"";
    position:absolute;
    top:0px;
    left: 0px;
    display:block;
    width:100%;
    margin:0px;
    height:2px;
    background-color: gray;
  }

  article h4::after 
  {
    content:"";
    display:block;
    width:70px;
    height:3px;
    background-color: rgb(25, 160, 36);
    margin-top:5px;

  }

  section img
  {
    height:100%;
    display:block;
  }
  
  section:first-child
  {
    height: calc(100vh - 100px);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }